<%= form_with(model: participation) do |form| %>
  <% if participation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(participation.errors.count, "error") %> prohibited this participation from being saved:</h2>

      <ul>
        <% participation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# TODO how can I make this enforceable %>
  <%= form.hidden_field :program_id %>
  <%= form.hidden_field :user_id %>

  <div>
    <%= form.label :role, style: "display: block" %>
    <%= form.select :role, options_for_select(Participation.roles), prompt: "Choose a role" %>
  </div>

  <%= form.label :pairings, "How many mentees are you willing to mentor?", style: "display: block" %>
  <%= form.number_field :pairings, min: 1, max: 3 %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
