<div id="<%= dom_id participation %>">
  <% participating_user = participation.user %>
  <div class="card clickable-card">
    <div class="card-body">
      <h5 class="card-title"><%= participating_user.username %></h5>
      <p class="card-text"><%= participating_user.bio.truncate_words(10) %></p>
    </div>
    <div class="card-footer">
      Email:
      <%= mail_to "#{participating_user.email}", "#{participating_user.email}", encode: "true", class: "card-link" %>
    </div>
    <% if participation.mentor? %>
      <% current_pairings = participation.pairings_as_mentors.where.not(mentee_id: nil) %>
      <% if current_pairings.count > 0 %>
        <div class="card-footer">
          Current mentees: 
          <% current_pairings.each_with_index do |pairing, i| %>
            <% if i > 0 %>
            |
            <% end %>
            <%= pairing.mentee_user.username %> 
          <% end %>
        </div>
      <% end %>
      <div class="card-footer">
        Available mentee spots left: <%= participation.pairings_as_mentors.where(mentee_id: nil).count %>
      </div>
    <% end %>
    <% if participation.mentee? %>
      <% pairing = participation.pairings_as_mentees.first %>
      <% if pairing != nil %>
        <div class="card-footer">
          Mentor: <%= pairing.mentor_user.username %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
