<%= form_with(model: ranking) do |form| %>
  <% if ranking.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ranking.errors.count, "error") %> prohibited this ranking from being saved:</h2>

      <ul>
        <% ranking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :mentee_id, style: "display: block" %>
    <%= form.text_field :mentee_id %>
  </div>

  <div>
    <%= form.label :mentor_id, style: "display: block" %>
    <%= form.text_field :mentor_id %>
  </div>

  <div>
    <%= form.label :rank, style: "display: block" %>
    <%= form.number_field :rank %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
