<div>
  <div id="<%= dom_id participation %>">
    <% participating_user = participation.user %>
    <div class="card clickable-card my-2">
      <div class="card-body">
        <h5 class="card-title"><%= participating_user.username %></h5>
        <% rankings = participation.rankings %>
        <% rankings.each do |ranking| %>
          <p class="my-2">Rank <%= ranking.rank %>: <%= ranking.recipient.username%></p>
        <% end %>
      </div>
      <% if participation.mentor? %>
        <% current_pairings = participation.pairings_as_mentors.where.not(mentee_id: nil) %>
        <% if current_pairings.count > 0 %>
          <div class="card-footer">
            Current mentees: 
            <% current_pairings.each_with_index do |pairing, i| %>
              <% if i > 0 %>
              |
              <% end %>
              <%= pairing.mentee_user.username %> 
            <% end %>
          </div>
        <% end %>

        <div class="card-footer">
        Available mentee spots left: <%= participation.pairings_as_mentors.where(mentee_id: nil).count %>
        </div>

        <div class="card-footer">
          <% pairings = participation.pairings_as_mentors.order(mentee_id: :asc) %>
          <% pairings.each do |pairing| %>
            <%= render partial: "programs/rankings/form", locals: { pairing: pairing, program: program } %>
            <%= button_to "Destroy this pairing", pairing, method: :delete, class: "mb-3" %>
          <% end %>

        </div>
      <% end %>
      <% if participation.mentee? %>
        <% pairing = participation.pairings_as_mentees.first %>
        <% if pairing != nil %>
          <div class="card-footer">
            Mentor: <%= pairing.mentor_user.username %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

