<div id="<%= dom_id program %>">
  <p>
    <strong>Name:</strong>
    <%= program.name %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= program.owner_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= program.description %>
  </p>

  <p>
    <strong>Banner image:</strong>
    <%= program.banner_image %>
  </p>

  <p>
    <strong>Support contact:</strong>
    <%= program.support_contact %>
  </p>

</div>
