<div class="hero-image">
  <%= image_tag @program.banner_image, class:"hero-image" if @program.banner_image.attached?%>
  <div class="hero-text">
    <h1><%= @program.name%></h1>
  </div>
</div>

<div class="container">
  <p><strong>About the program:</strong></p>
  <p><%= @program.description%></p>
  <%= link_to "Edit this program", edit_program_path(@program) %> |
  <%= link_to "Back to programs", programs_path %>

  <%= button_to "Destroy this program", @program, method: :delete %>

  <div class="container mt-3">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      <% @mentors.each do |mentor| %>
        <div class="col mb-4">
          <%= render partial: "participations/participation", locals: { participation: mentor, id: mentor.id} %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- leaving some weird white space unless I set html height:100% or body height:100vh -->
<div class="sticky-bottom bg-body-secondary">
  <div class="container d-flex justify-content-between">
    <div class="d-flex justify-content-around flex-fill">
      <p class="text-center py-5">Hello</p>
      <p class="text-center py-5">World</p>
      <p class="text-center py-5">Test</p>
    </div>
    <button>Submit</button>
  </div>
</div>