<div class="hero-image">
  <%= image_tag @program.banner_image, class:"hero-image" if @program.banner_image.attached?%>
  <div class="hero-text">
    <h1><%= @program.name%></h1>
  </div>
</div>

<div class="container">
  <p><strong>About the program:</strong></p>
  <p><%= @program.description %></p>
  <%= link_to "Edit this program", edit_program_path(@program) %> |
  <%= link_to "Back to programs", programs_path %>

  <%= button_to "Destroy this program", @program, method: :delete %>

  <div class="container mt-3">
    <h3>Mentors</h3>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      <% @mentors.each do |mentor| %>
        <div class="col mb-4">
          <%= render partial: "participations/participation", locals: { participation: mentor, id: mentor.id } %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container mt-3">
    <h3>Mentees</h3>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      <% @mentees.each do |mentee| %>
        <div class="col mb-4">
          <%= render partial: "participations/participation", locals: { participation: mentee, id: mentee.id } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- leaving some weird white space unless I set html height:100% or body height:100vh -->
<% if @participation != nil %>
<div class="sticky-bottom bg-body-secondary">
  <div class="container">
    <div class="d-flex flex-row justify-content-around flex-fill">
      <%= form_tag program_ranking_path(@program), method: :post do %>
        <div id="rankings">
        <% @rankings.each_with_index do |ranking, index| %>
          <div class="ranking-field">
            <%= label_tag "ranking[#{index}][mentor_id]", "Rank #{index + 1}" %>
            <% available_options = mentor_options(@program).reject { |option| @rankings.any? { |r| r.mentor_id == option[1].to_i } } %>
            <%= select_tag "ranking[#{index}][mentor_id]", options_for_select(available_options), prompt: 'Select Mentor' %>
          </div>
        <% end %>
        </div>
        <%= submit_tag 'Submit Rankings' %>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<!--
<%= render partial: "rankings/form", locals: { ranking: @ranking} %>
-->