<div class="container d-flex flex-column">
  <div class="d-flex flex-row align-items-center my-3">
    <div class="img-div me-3 me-sm-5">
    <% if @user.profile_picture.attached? %>
      <%= image_tag @user.profile_picture, class:"rounded-circle img-fluid" %>
    <% else %>
      <%= image_tag "empty_profile_pic.webp", alt:"Empty Profile Picture Logo", class:"rounded-circle img-fluid" %>
    <% end %>
    </div>
    <div class="d-flex flex-column flex-sm-row align-items-center">
      <div class="me-3 me-sm-5">
        <h4><%= @user.first_name%> <%= @user.last_name %></h4>
        <p class="mb-1">
          <i class="fa-solid fa-envelope"></i>
          <%= @user.email %>
        </p>
        <p class="mb-1">
          <i class="fa-solid fa-earth-americas"></i>
          Preferred Timezone: <%= @user.preferred_timezone%>
        </p>
        <p>
          Member Since: <%= @user.created_at.strftime("%B, %Y") %>
        </p>
      </div>
      <div class="justify-content-end">
        <%= link_to "Edit Profile", edit_user_registration_path(@user), class: "btn btn-outline-secondary mb-2" %>
        <%= button_to "Cancel Account", registration_path(@user), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:"btn btn-outline-danger" %>
      </div>
    </div>
  </div>
  <div>
    <p><%= @user.bio %></p>
  </div>
</div>

<!-- TODO 
add in actual user details, 
don't show to anyone unless they are participants in the same program,
maybe derive method to check if user is in the same program as other user to use in other situations
-->